@charset "utf-8";

*{margin: 0; padding: 0;}
img{display: block;}
a{text-decoration: none; color: inherit;}
li{list-style: none;}

html{height: 100%;}

body{
  background: url(../img/Main_Vans_FA22_Skate_Lizzie_Onward_11.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

#wrap{
  width: 100%;
  height: 100%;
  position: relative;
}

#wrap #logo{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #logo h2{
  width: 10%;
  height: 10%;
  z-index: 999;
}
#wrap #logo h2 img{
  width: 5rem;
  height: 2.5rem;
  margin: 0 auto;
  display: block;
  position: absolute;
  top:0; left: calc(1/2);
}

/* 네비영역 */

#wrap nav{
  width: 100%;
  height: 5%;
  position: absolute;
  top: 7%; left: 0;
  z-index: 10;
}
#wrap nav > ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 103, 47);
  gap: 10px;
}
#wrap nav ul li{
  width: 10%;
  text-align: center;
  line-height: 13px;
  color: white;
  font-family: 'Roboto';
  font-weight: medium;
  position: relative;
}
#wrap nav ul li a{
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: medium;
}

/* 호버시 슬라이드 영역 */
/* .submenu */

#wrap nav ul li .submenu{
  width: 1581px;
  height: 200px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:27px; left: -290px;
  display: none;
}
#wrap nav .submenu > ul{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#wrap nav .submenu > ul > li{
  width: calc(1/5);
  height: 30px;
  font-size: 20px;
  color: #111111;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
}
#wrap nav > ul > li:hover > .submenu{
  display: block;
}

/* submenu2 */

#wrap nav ul li .submenu2{
  width: 1581px;
  height: 300px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:27px; left: -460px;
  display: none;
}
#wrap nav ul li .submenu2 > ul{
  width: 1581px;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 25px;
}
#wrap nav ul li .submenu2 > ul > li{
  width: calc(1/4);
  height: 40px;
  text-align: center;
  color: #292929;
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
}
#wrap nav ul li .submenu2 > ul > li > ul{
  width: 100%;
  text-align: center;
  color: #292929;
  line-height: 18px;
}
#wrap nav ul li .submenu2 > ul > li > ul > li{
  width: 100%;
  height: 30px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
}

#wrap nav > ul > li:nth-of-type(2):hover > .submenu2{
  display: block;
}
/* submenu3 */

#wrap nav ul li .submenu3{
  width: 1581px;
  height: 300px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:27px; left: -627px;
  display: none;
}
#wrap nav ul li .submenu3 > ul{
  width: 1581px;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 25px;
}
#wrap nav ul li .submenu3 > ul > li{
  width: calc(1/4);
  height: 40px;
  text-align: center;
  color: #292929;
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
}
#wrap nav ul li .submenu3 > ul > li > ul{
  width: 100%;
  text-align: center;
  color: #292929;
  line-height: 18px;
}
#wrap nav ul li .submenu3 > ul > li > ul > li{
  width: 100%;
  height: 30px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
}

#wrap nav > ul > li:nth-of-type(3):hover > .submenu3{
  display: block;
}
/* submenu4 */

#wrap nav ul li .submenu4{
  width: 1581px;
  height: 300px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:27px; left: -795px;
  display: none;
}
#wrap nav ul li .submenu4 > ul{
  width: 1581px;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 25px;
}
#wrap nav ul li .submenu4 > ul > li{
  width: calc(1/4);
  height: 40px;
  text-align: center;
  color: #292929;
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
}
#wrap nav ul li .submenu4 > ul > li > ul{
  width: 100%;
  text-align: center;
  color: #292929;
  line-height: 18px;
}
#wrap nav ul li .submenu4 > ul > li > ul > li{
  width: 100%;
  height: 30px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
}

#wrap nav > ul > li:nth-of-type(4):hover > .submenu4{
  display: block;
}
#wrap nav > ul > li:nth-of-type(5):hover > a {
  color: #f6d246;
}
#wrap nav > ul > li:nth-of-type(6):hover > a {
  color: #f6d246;
}

/* 컨텐츠영역 */


#wrap section { 
  width: 100%;
  height: 1000%;
  position: absolute;
  top:25%; left:0;
  display: flex;
  justify-content: center;
}

#wrap section figure { 
  width: 80%;
  height: 100%;
  background-color: #111111;
}
#wrap section figure .ment { 
  width: 100%;
  height: 200px;
}
#wrap section figure .ment h1 { 
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  padding-top: 60px;
}
#wrap section figure .ment p { 
  padding-top: 20px;
  color: white;
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 14px;
  line-height: 1.5;
}

/* 사진영역 */
#wrap section figure .photo { 
  width: 100%;
  height: 30%;
  position: relative;
}
#wrap section figure .photo img { 
  width: 100%;
  height: 35%;
  object-fit: cover;
}
#wrap section figure .photo p { 
  position: absolute;
  width: 100%;
  font-size: 11px;
  font-weight: 'Roboto';
  color: #eeeeee;
  top:35.5%; right:-86.6%;
}
#wrap section figure .ment02 { 
  width: 100%;
  height: 3%; 
  position: absolute;
  top:14%; left: 0;
}
#wrap section figure .ment02 p{ 
  display: block;
  width: 400px;
  height: 50px;
  color: red;
  font-size:14px;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto; 
  font-weight: bold;
  text-decoration: underline;
}

/* 두번째 사진영역 */

#wrap section figure #photo02{ 
  width: 80%;
  height: 17%;
  position: absolute;
  top: 16%; left: 25.5%;
  /* overflow: hidden; */
}
#wrap section figure #photo02 ul{ 
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 0;

}
#wrap section figure #photo02 ul li{ 

  width: 50%; height: 100%;
}
#wrap section figure #photo02 ul > li:nth-of-type(1) > img { 
  width: 100%;
  box-sizing: border-box;

}
#wrap section figure #photo02 ul > li.ment03 { 
  width: 100%;
  position: relative;

}
#wrap section figure #photo02 ul > li.ment03 > div { 
  width: 45%;
  height:100%;

  position: absolute;
  top:0%; left:53%;
}
#wrap section figure #photo02 ul > li.ment03 > div > p { 
  color: #eeeeee;
  font-size: 12px;
  font-family: 'Noto Sans KR';
  line-height: 1.6;
  font-weight: 400;
}

#wrap section figure #photo03 {
  width: 80%;
  height: 40%;
  /* outline: 1px solid red; */
  position: absolute;
  top:18.45%; left: 15.5%;
}
#wrap section figure #photo03 ul {
  width: 100%;
  display: flex;
}
#wrap section figure #photo03 ul > li:first-child  {
  width: 39%;
  height: 100%;
  /* outline: 1px solid greenyellow;   */
  position: relative;
}
#wrap section figure #photo03 ul > li:first-child > .ment04_box  {
  width: 40%;
  /* outline: 1px solid red; */
  height: 300px;
  position: absolute;
  left: 56%; top:250px;
}
#wrap section figure #photo03 ul > li:first-child > .ment04_box > p  {
  color: #eeeeee;
  font-size: 12px;
  font-family: 'Noto Sans KR';
  line-height: 1.6;
  font-weight: 400;
}
#wrap section figure #photo03 ul > li:last-child {
  width: 61%;
  height: 100%;
  /* outline: 1px solid greenyellow */
}
#wrap section figure #photo03 ul > li:nth-child(2) > img {
  width: 55%;
  height: 500px;
}
#wrap section figure #photo04 {
  width: 100%;
  height: 55%;

  position: absolute;
  top: 27.2%; left: 7% ;
}
#wrap section figure #photo04 ul {
  width: 100%;
  height: 100%;

  position: relative;
}

#wrap section figure #photo04 ul > li:first-child {
  width: 61%;
  height: 100%;

  position: absolute;
  top:-3.5%; left: 18.5%;
}
#wrap section figure #photo04 ul > li:first-child > img {
  width: 78.7%;
  height: 12%;
}
#wrap section figure #photo04 ul > li:last-child {
  width: 48%;
  position: absolute;
  top: 9%; left: 18.5%;
}
#wrap section figure #photo04 ul > li:last-child > .ment05_box {
  width: 100%;  
}
#wrap section figure #photo04 ul > li:last-child > .ment05_box > p {
  color: #eeeeee;
  font-size: 12px;
  font-family: 'Noto Sans KR';
  line-height: 1.6;
  font-weight: 400;
}
#wrap section figure #ment06 {
  width: 80%;
  height: 5%;
  position: absolute;
  top:35%; left: 10%;
}
#wrap section figure #ment06 >  p {
  display: block;
  width: 60%;
  color: #eeeeee;
  font-size: 12px;
  font-family: 'Noto Sans KR';
  line-height: 1.6;
  font-weight: 400;
  position: absolute;
  top:0; left: 19.3%;
}
#wrap section figure #ment06 >  div {
  width: 18%;
  height: 7.5%;
  position: absolute;
  top:22%; left: 40.5%;
  border: 0.2px solid #eeeeee ;
  text-align: center;
  color: #eeeeee;
  font-size: 14px;
  font-family: 'Noto Sans KR';
  border-radius: 10px;
  cursor: pointer;
  line-height: 27px;
}

#wrap section figure #shop {
  width: 80%;
  height: 10%;
  position: absolute;
  top:40%; left: 10%;
}
#wrap section figure #shop > h1 {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Sans KR';
  padding-top: 60px;
}
#wrap section figure #shop > p {
  color: #eeeeee;
  font-size: 13px;
  font-family: 'Noto Sans KR';
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  padding-top: 7px;
}


/* 상품 상세 그리드 */

#wrap section figure #shop_cont {
  width: 80%;
  height: 20%;
  position: absolute;
  top:42%;
}
#wrap section figure #shop_cont >  ul:first-child {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
#wrap section figure #shop_cont > ul:first-child > li {
  height: 16%;
  width: 16%;
  border-radius:2px;
  margin: 0 auto;
}

/* 첫번째 lizzie */
#wrap section figure #shop_cont > ul:first-child > li:first-child {
  background: url(../img/vans_shose01.jpg) no-repeat center center/cover;
}
#wrap section figure #shop_cont > ul:first-child > li:first-child > .shop_cont_ment01 {
  width: 16.11%;
  height: 2%;  
  position: absolute;
  top:16%; left: 0.2%;
}
#wrap section figure #shop_cont > ul:first-child > li:first-child > .shop_cont_ment01 > h4 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  font-size: 15px;
  line-height: 30px;
}
#wrap section figure #shop_cont > ul:first-child > li:first-child > .shop_cont_ment01 > p {
  text-align: center;
  color: #eeeeee;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 30px;
}


/* 두번째 lizzie */
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(2) {
  background: url(../img/vans_shose02.jpg) no-repeat center center/cover;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(2) > .shop_cont_ment01 {
  width: 16%;
  height: 2%;  
  position: absolute;
  top:16%; left: 17%;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(2) > .shop_cont_ment01 > h4 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  font-size: 15px;
  line-height: 30px;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(2) > .shop_cont_ment01 > p {
  text-align: center;
  color: #eeeeee;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 30px;
}

/* 3번째 lizzie */
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(3) {
  background: url(../img/vans_shose03.jpg) no-repeat center center/cover;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(3) > .shop_cont_ment01 {
  width: 16%;
  height: 2%;  
  position: absolute;
  top:16%; left: 33.7%;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(3) > .shop_cont_ment01 > h4 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  font-size: 15px;
  line-height: 30px;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(3) > .shop_cont_ment01 > p {
  text-align: center;
  color: #eeeeee;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 30px;
}

/* 4번째 lizzie */
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(4) {
  background: url(../img/vans_shose04.jpg) no-repeat center center/cover;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(4) > .shop_cont_ment01 {
  width: 16%;
  height: 2%;  
  position: absolute;
  top:16%; left: 50.35%;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(4) > .shop_cont_ment01 > h4 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  font-size: 15px;
  line-height: 30px;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(4) > .shop_cont_ment01 > p {
  text-align: center;
  color: #eeeeee;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 30px;
}


/* 5번째 lizzie */
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(5) {
  background: url(../img/vans_shose05.jpg) no-repeat center center/cover;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(5) > .shop_cont_ment01 {
  width: 16%;
  height: 2%;  
  position: absolute;
  top:16%; left: 67%;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(5) > .shop_cont_ment01 > h4 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  font-size: 15px;
  line-height: 30px;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(5) > .shop_cont_ment01 > p {
  text-align: center;
  color: #eeeeee;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 30px;
}


/* 6번째 lizzie */
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(6) {
  background: url(../img/vans_shose06.jpg) no-repeat center center/cover;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(6) > .shop_cont_ment01 {
  width: 16%;
  height: 2%;  
  position: absolute;
  top:16%; left: 83.7%;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(6) > .shop_cont_ment01 > h4 {
  text-align: center;
  color: white;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  font-size: 15px;
  line-height: 30px;
}
#wrap section figure #shop_cont > ul:first-child > li:nth-of-type(6) > .shop_cont_ment01 > p {
  text-align: center;
  color: #eeeeee;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 30px;
}

/* 두번째 상품 그리드 (ul 2번째 ) */

#wrap section figure #shop_cont02 {
  width: 100%;
  height: 20%;
  position: absolute;
  top:20%; left: 0;
}

#wrap section figure #shop_cont02 > ul {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
#wrap section figure #shop_cont02 > ul > li {
  height: 80%;
  width: 16%;
  border-radius:2px;
  margin: 0 auto;
}
#wrap section figure #shop_cont02 > ul > li > .shop_cont_ment02 {
  height: 10%;
  width: 100%;
  border-radius:2px;
  position: absolute;
  top:80.5%; left: 0;
}

/* 두번째 ul - 첫번째 li */
#wrap section figure #shop_cont02 > ul > li:nth-of-type(1) {
  background: url(../img/vans_clothes01.jpg) no-repeat center center/cover;
}
#wrap section figure #shop_cont02 > ul > li:nth-of-type(1) > .shop_cont_ment02 > h4  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:0%; left: 0.4% ;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: white;
}
#wrap section figure #shop_cont02 > ul > li:nth-of-type(1) > .shop_cont_ment02 > p  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:109%; left: 0.4% ;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #eeeeee;
}

/* 두번째 ul - 2번째 li */

#wrap section figure #shop_cont02 > ul > li:nth-of-type(2) {
  background: url(../img/vans_clothes02.jpg) no-repeat center center/cover;
}

#wrap section figure #shop_cont02 > ul > li:nth-of-type(2) > .shop_cont_ment02 > h4  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:0%; left: 17% ;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: white;
}
#wrap section figure #shop_cont02 > ul > li:nth-of-type(2) > .shop_cont_ment02 > p  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:109%; left: 17% ;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #eeeeee;
}

/* 두번째 ul - 3번째 li */

#wrap section figure #shop_cont02 > ul > li:nth-of-type(3) {
  background: url(../img/vans_clothes03.jpg) no-repeat center center/cover;
}

#wrap section figure #shop_cont02 > ul > li:nth-of-type(3) > .shop_cont_ment02 > h4  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:0%; left: 33.7% ;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: white;
}
#wrap section figure #shop_cont02 > ul > li:nth-of-type(3) > .shop_cont_ment02 > p  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:109%; left: 33.7% ;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #eeeeee;
}

/* 두번째 ul - 4번째 li */

#wrap section figure #shop_cont02 > ul > li:nth-of-type(4) {
  background: url(../img/vans_clothes04.jpg) no-repeat center center/cover;
}

#wrap section figure #shop_cont02 > ul > li:nth-of-type(4) > .shop_cont_ment02 > h4  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:0%; left: 50.4% ;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: white;
}
#wrap section figure #shop_cont02 > ul > li:nth-of-type(4) > .shop_cont_ment02 > p  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:109%; left: 50.4% ;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #eeeeee;
}

/* 두번째 ul - 5번째 li */

#wrap section figure #shop_cont02 > ul > li:nth-of-type(5) {
  background: url(../img/vans_clothes05.jpg) no-repeat center center/cover;
}

#wrap section figure #shop_cont02 > ul > li:nth-of-type(5) > .shop_cont_ment02 > h4  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:0%; left: 67.05% ;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: white;
}
#wrap section figure #shop_cont02 > ul > li:nth-of-type(5) > .shop_cont_ment02 > p  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:109%; left: 67.05% ;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #eeeeee;
}

/* 두번째 ul - 6번째 li */

#wrap section figure #shop_cont02 > ul > li:nth-of-type(6) {
  background: url(../img/vans_clothes06.jpg) no-repeat center center/cover;
}

#wrap section figure #shop_cont02 > ul > li:nth-of-type(6) > .shop_cont_ment02 > h4  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:0%; left: 83.7% ;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: white;
}
#wrap section figure #shop_cont02 > ul > li:nth-of-type(6) > .shop_cont_ment02 > p  {
  width: 16%;
  height: 100%;
  display: block;
  position: absolute;
  top:109%; left: 83.7% ;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #eeeeee;
} 

#wrap section figure #shop_cont03 {
  width: 80%;
  height: 50%;
  position: absolute;
  top:54%; left: 10%;
}
#wrap section figure #shop_cont03 > ul {
  width: 50%;
  height: 10%;
  margin: 0 auto;
  background: url(../img/vans_clothes07.png) no-repeat center center/cover;
  position: relative;
}
#wrap section figure #shop_cont03 > ul > li:first-child {
  position: absolute;
  top:109%; left: 33%;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Noto Sans KR';
  color: rgb(230, 150, 1);
}
#wrap section figure #shop_cont03 > ul > li:nth-of-type(2) {
  position: absolute;
  top:116%; left: 46%;
  line-height: 30px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #eeeeee;
}
#wrap section figure #shop_cont03 > ul > li:nth-of-type(3) {
  position: absolute;
  top:125%; left: 8%;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: #eeeeee;
  line-height: 1.5;
  text-align: center;
}
#wrap section figure #shop_cont03 > ul > li:nth-of-type(4) {
  position: absolute;
  top:146%; left: 29.5%;
  line-height: 30px;
  font-size: 11px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #d6d4d4;
  text-align: center;
}
#wrap section figure #shop_cont03 > ul > li:nth-of-type(5) {
  display: block;
  width: 100px;
  height: 8%;
  position: absolute;
  top:221%; left: 42.5%;
  line-height: 33px;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #eeeeee;
  text-align: center;
  border: 0.5px solid #eeeeee;
  border-radius: 5px;
}
#wrap section figure #shop_cont03 > ul > a {
  display: block;
  width: 100px;
  height: 8%;

  position: absolute;
  top:221%; left: 42.5%;
}
#wrap section figure #shop_cont03 > ul > a > li{
  display: block;
  width: 100px;
  height: 100%;
  line-height: 33px;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #eeeeee;
  text-align: center;
  border: 0.5px solid #eeeeee;
  border-radius: 5px;
  cursor: pointer;
}

/* 반스 뉴스 */

#wrap section figure #viewmore {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 68%;
}
#wrap section figure #viewmore ul {
  width: 80%;
  height: 100%;
  position: absolute;
  top:2%;
}
#wrap section figure #viewmore ul > li:first-child {
  width: 100%;
  height: 2%;
  position: absolute;
  top:2%; 
}
#wrap section figure #viewmore ul > li:first-child > a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
  color: white;
  text-align: center;
}
#wrap section figure #viewmore ul > li:last-child {
  width: 100%;
  height: 1%;
  position: absolute;
  top:3.3%;
}

#wrap section figure #viewmore ul > li:last-child > a {
  display: block;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  color: #eeeeee;
  text-align: center;
}

/* 반스 뉴스부분의 다른 배너부분  */
#wrap section figure #viewmore .viewmore_cont {
  width: 80%;
  height: 100%;
  position: relative;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont01{
  width: 100%;
  height: 20%;
  background: url(../img/vans_news01.jpg) no-repeat center center/cover;
  position: absolute;
  top:8%;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont01 > li{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0; left: 0;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont01 > li > p{
  display: block;
  font-size: 13.5px;
  font-weight: 600;
  font-family: 'Noto Sans KR';
  color: #222222;
  position: absolute;
  top:92%; left: 1.5%;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont02{
  width: 100%;
  height: 20%;
  position: absolute;
  top:30%;
  background: url(../img/vans_news02.png) no-repeat center center/cover;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont02 > li{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont02 > li > p{
  display: block;
  font-size: 13.5px;
  font-weight: 600;
  font-family: 'Noto Sans KR';
  color: #dddddd;
  position: absolute;
  top:92%; left: 1.5%;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont03{
  width: 100%;
  height: 20%;
  background-color: blue;
  position: absolute;
  top:52.05%;
  background: url(../img/vans_news03.jpg) no-repeat center center/cover;
}


#wrap section figure #viewmore .viewmore_cont > .viewmore_cont03 > li{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
}
#wrap section figure #viewmore .viewmore_cont > .viewmore_cont03 > li > p{
  display: block;
  font-size: 13.5px;
  font-weight: 600;
  font-family: 'Noto Sans KR';
  color: #dddddd;
  position: absolute;
  top:92%; left: 1.5%;
}

/* 목록더보기 영역 */

#wrap section figure #end { 
  width: 80%;
  height: 5%;
  position: absolute;
  top:90.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap section figure #end ul { 
  width: 50%;
  height: 30%;
}
#wrap section figure #end ul > li:first-child { 
  width: 100%;
  height: 50%;
  text-align: center;
  display: block;
  line-height: 60px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #eeeeee;
}
#wrap section figure #end ul > a{ 
  width: 100%;
  height: 100%;
}
#wrap section figure #end ul > a > li { 
  display: block;
  width: 30%;
  height: 30%;
  border: 0.5px solid white;
  line-height: 33px;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Noto Sans KR';
  text-align: center;
  color: #eeeeee;
  border-radius: 8px;
  margin: 0 auto;
}

