@charset "utf-8";

*{margin: 0; padding: 0;}
img{display: block;}
a{color: inherit; text-decoration: none;}
li{list-style: none;}

body, html{
  background: url(../img/Main_Vans_FA22_Skate_Lizzie_Onward_11.jpg) no-repeat center center/cover;
}

#wrap{
  width: 100%;
  height: 100%;
}

#wrap #logo{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #logo h2{
  width: 10%;
  height: 10%;
}
#wrap #logo h2 img{
  width: 5rem;
  height: 2.5rem;
  margin: 0 auto;
  display: block;
}

/* 네비영역 */

#wrap nav{
  width: 100%;
  height: 5%;
  position: absolute;
  top: 7%; left: 0;
  z-index: 10;
}
#wrap nav > ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(107, 103, 47);
  gap: 10px;
}
#wrap nav ul li{
  width: 10%;
  text-align: center;
  line-height: 13px;
  color: white;
  font-family: 'Roboto';
  font-weight: medium;
  position: relative;
}
#wrap nav ul li a{
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: medium;
}

/* 호버시 슬라이드 영역 */
/* .submenu */

#wrap nav ul li .submenu{
  width: 1581px;
  height: 200px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:25px; left: -290px;
  display: none;
}
#wrap nav .submenu > ul{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
#wrap nav .submenu > ul > li{
  width: calc(1/5);
  height: 30px;
  font-size: 20px;
  color: #111111;
  text-align: center;
  line-height: 20px;
  font-weight: 600;
}
#wrap nav > ul > li:hover > .submenu{
  display: block;
}

/* submenu2 */

#wrap nav ul li .submenu2{
  width: 1581px;
  height: 300px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:25px; left: -460px;
  display: none;
}
#wrap nav ul li .submenu2 > ul{
  width: 1581px;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 25px;
}
#wrap nav ul li .submenu2 > ul > li{
  width: calc(1/4);
  height: 40px;
  text-align: center;
  color: #292929;
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
}
#wrap nav ul li .submenu2 > ul > li > ul{
  width: 100%;
  text-align: center;
  color: #292929;
  line-height: 18px;
}
#wrap nav ul li .submenu2 > ul > li > ul > li{
  width: 100%;
  height: 30px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
}

#wrap nav > ul > li:nth-of-type(2):hover > .submenu2{
  display: block;
}
/* submenu3 */

#wrap nav ul li .submenu3{
  width: 1581px;
  height: 300px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:25px; left: -627px;
  display: none;
}
#wrap nav ul li .submenu3 > ul{
  width: 1581px;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 25px;
}
#wrap nav ul li .submenu3 > ul > li{
  width: calc(1/4);
  height: 40px;
  text-align: center;
  color: #292929;
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
}
#wrap nav ul li .submenu3 > ul > li > ul{
  width: 100%;
  text-align: center;
  color: #292929;
  line-height: 18px;
}
#wrap nav ul li .submenu3 > ul > li > ul > li{
  width: 100%;
  height: 30px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
}

#wrap nav > ul > li:nth-of-type(3):hover > .submenu3{
  display: block;
}
/* submenu4 */

#wrap nav ul li .submenu4{
  width: 1581px;
  height: 300px;
  background-color: azure;
  opacity: 0.7;
  position: absolute;
  top:25px; left: -795px;
  display: none;
}
#wrap nav ul li .submenu4 > ul{
  width: 1581px;
  height: 200px;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 25px;
}
#wrap nav ul li .submenu4 > ul > li{
  width: calc(1/4);
  height: 40px;
  text-align: center;
  color: #292929;
  line-height: 30px;
  font-weight: bold;
  font-size: 30px;
}
#wrap nav ul li .submenu4 > ul > li > ul{
  width: 100%;
  text-align: center;
  color: #292929;
  line-height: 18px;
}
#wrap nav ul li .submenu4 > ul > li > ul > li{
  width: 100%;
  height: 30px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  line-height: 18px;
  padding-top: 5px;
}

#wrap nav > ul > li:nth-of-type(4):hover > .submenu4{
  display: block;
}
#wrap nav > ul > li:nth-of-type(5):hover > a {
  color: #f6d246;
}
#wrap nav > ul > li:nth-of-type(6):hover > a {
  color: #f6d246;
}













/* 영상영역 */

#wrap figure {
  width: 100%;
  height: 1080px;
  position: absolute;
  top:12%; 
  left: 0;
  display: flex;
  justify-content: center;
}
#wrap figure article {
  width: 100%;
  height: 100%;
}
#wrap figure article video {

  width: 100%;
}

#wrap figure .cont{
  text-align: center;
  width: 100%;
  height: 5%;
  position: absolute;
  top:85%; 
  left: 0;
  line-height: 1.5;
}
#wrap figure .cont h2{
  font-family: 'Noto Sans KR';
  font-size: 30px;
  font-weight: bold;
  color: #292929;
}
#wrap figure .cont h3{
  font-family: 'Noto Sans KR';
  font-size: 30px;
  font-weight: bold;
  color: #f6d246;
}

/* 버튼 */

#wrap figure .cont2 { 
  position: absolute;
  top:95%;
  left: 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}
#wrap figure .cont2 .btn1{ 
  width: 200px;
  height: 50px;
  border: 0.5px solid #cccccc;
  border-radius: 8px;
  box-shadow: 2px 2px 15px #dddddd;
}
#wrap figure .cont2 .btn1:hover{ 
  cursor: pointer;
}
#wrap figure .cont2 .btn1 p{ 
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
}