@charset "utf-8";


section{
  width: 100%;
  height: 100%;
}
section article{
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
section article img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
