@charset "utf-8";

#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8 {
  min-height: 1000px;
}

#section1{
  margin: 0 auto;
  width: 1264px;
  height: 100%;

}
#section1 img{
  width: 1264px;
  height: 100%;
}
#section2{
  margin: 0 auto;
  width: 1264px;
  height: 100%; 
}
#section2 img{
  width: 1264px;
  height: 100%;
}
#section3{
  margin: 0 auto;
  width: 1264px;
  height: 100%;
}
#section3 img{
  width: 1264px;
  height: 100%;
}
#section4{
  margin: 0 auto;
  width: 1264px;
}
#section4 img{
  width: 1264px;
  height: 100%;
}
#section5{
  margin: 0 auto;
  width: 1264px;
  height: 100%;
}
#section5 img{
  width: 1264px;
  height: 100%;
}
#section6{
  width: 1264px;
  height: 110%;
  margin: 0 auto;
}
#section6 img{
  width: 1264px;
  height: 100%;
}
#section7{
  margin: 0 auto;
  width: 1264px;
  height: 100%;
}
#section7 img{
  width: 1264px;
  height: 100%;
}
#section8{
  margin: 0 auto;
  width: 1264px;
  height: 100%;
}
#section8 img{
  width: 1264px;
  height: 100%;
}

@media all and (min-width:479px) and (max-width:768px) {
  #section1{
    margin: 0 auto;
    width: 600px;
    height: 100%;  
  }
  #section1 img{
    width: 600px;
    height: 100%;
  }
  #section2{
    margin: 0 auto;
    width: 600px;
    height: 100%; 
  }
  #section2 img{
    width: 600px;
    height: 100%;
  }
  #section3{
    margin: 0 auto;
    width: 600px;
    height: 100%;
  }
  #section3 img{
    width: 600px;
    height: 100%;
  }
  #section4{
    margin: 0 auto;
    width: 600px;
  }
  #section4 img{
    width: 600px;
    height: 100%;
  }
  #section5{
    margin: 0 auto;
    width: 600px;
    height: 100%;
  }
  #section5 img{
    width: 600px;
    height: 100%;
  }
  #section6{
    width: 600px;
    height: 100%;
    margin: 0 auto;
  }
  #section6 img{
    width: 600px;
    height: 100%;
  }
  #section7{
    margin: 0 auto;
    width: 600px;
    height: 100%;
  }
  #section7 img{
    width: 600px;
    height: 100%;
  }
  #section8{
    margin: 0 auto;
    width: 600px;
    height: 100%;
  }
  #section8 img{
    width: 600px;
    height: 100%;
  }
}
@media all and (min-width:768px) and (max-width:1080px) {
  #section1{
    margin: 0 auto;
    width: 800px;
    height: 100%;  
  }
  #section1 img{
    width: 800px;
    height: 100%;
  }
  #section2{
    margin: 0 auto;
    width: 800px;
    height: 100%; 
  }
  #section2 img{
    width: 800px;
    height: 100%;
  }
  #section3{
    margin: 0 auto;
    width: 800px;
    height: 100%;
  }
  #section3 img{
    width: 800px;
    height: 100%;
  }
  #section4{
    margin: 0 auto;
    width: 800px;
  }
  #section4 img{
    width: 800px;
    height: 100%;
  }
  #section5{
    margin: 0 auto;
    width: 800px;
    height: 100%;
  }
  #section5 img{
    width: 800px;
    height: 100%;
  }
  #section6{
    width: 800px;
    height: 100%;
    margin: 0 auto;
  }
  #section6 img{
    width: 800px;
    height: 100%;
  }
  #section7{
    margin: 0 auto;
    width: 800px;
    height: 100%;
  }
  #section7 img{
    width: 800px;
    height: 100%;
  }
  #section8{
    margin: 0 auto;
    width: 800px;
    height: 100%;
  }
  #section8 img{
    width: 800px;
    height: 100%;
  }
}



@media all and (min-width:1080px) and (max-width:1920px) {
  #section1{
    margin: 0 auto;
    width: 1264px;
    height: 100%;
  
  }
  #section1 img{
    width: 1264px;
    height: 100%;
  }
  #section2{
    margin: 0 auto;
    width: 1264px;
    height: 100%; 
  }
  #section2 img{
    width: 1264px;
    height: 100%;
  }
  #section3{
    margin: 0 auto;
    width: 1264px;
    height: 100%;
  }
  #section3 img{
    width: 1264px;
    height: 100%;
  }
  #section4{
    margin: 0 auto;
    width: 1264px;
  }
  #section4 img{
    width: 1264px;
    height: 100%;
  }
  #section5{
    margin: 0 auto;
    width: 1264px;
    height: 100%;
  }
  #section5 img{
    width: 1264px;
    height: 100%;
  }
  #section6{
    width: 1264px;
    height: 110%;
    margin: 0 auto;
  }
  #section6 img{
    width: 1264px;
    height: 100%;
  }
  #section7{
    margin: 0 auto;
    width: 1264px;
    height: 100%;
  }
  #section7 img{
    width: 1264px;
    height: 100%;
  }
  #section8{
    margin: 0 auto;
    width: 1264px;
    height: 100%;
  }
  #section8 img{
    width: 1264px;
    height: 100%;
  }
  
}



